VITE_API_URL=http://localhost:8080
VITE_PUBLIC_URL=/
VITE_LOOKER_HOST=mock.looker.com
VITE_USE_MOCK_LOOKER=true
VITE_USE_MOCK_API=false
VITE_APP_NAME="Looker Portal"
VITE_APP_NAME_LOWER="looker-portal" # Used for cloud and build asset names - MUST BE ALL LOWER CASE. NO SPACES. ALPHA NUMERIC AND HYPHENS ONLY.
VITE_DEPLOY_REGION="us-central1" # The GCP region where you deployed the app.
